.root {
    -fx-background-color: #8EEDE8;  
}


.Title{
     -fx-font-size: 42px;
}
.timerLabel{
    -fx-text-fill:black;
    -fx-font-size: 64px; 
}
.Stop{
    -fx-background-color: #F58E8E;
    -fx-text-fill: black;
}

